.v*
__pycache__
link.py
timetable.json
/.idea/misc.xml
/.idea/vagrant.xml
/.idea/workspace.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/Zoom-Bot.iml
